/*------------------------------------------------------------------
FOODMAP
[Media Queries Stylesheet]

Version:			1.1
Ultimo cambio:		14/7 	[]
Ultimo cambio por:	Mati
-------------------------------------------------------------------*/


/*-----------------------------------------------------------------
>>> INDICE:
-------------------------------------------------------------------
0.0 - Media query breakpoints
1.0 - Landscape
	1.1 - Tablet 		L	1024
	1.2 - Small tablet	L	800
	1.3 - iPhone 5 		L	568
	1.4 - Mobile 		L	480
2.0 - Portrait
	2.1 - Tablet		P	768
	2.2 - Small tablet	P	600
	2.3 - iPhone 5 		P	320
	2.4 - Mobile 		P	320

-----------------------------------------------------------------*/

/*-----------------------------------------------------------------
0.0 - Media query breakpoints
-----------------------------------------------------------------*/
/*
	Tablet 			L	1024
	Small tablet	L	800
	Tablet 			P	768
	Small tablet 	P	600
	iPhone 			L	568 * a partir de aqui sidepanel 100%?
	Mobile 			L	480
	iPhone 			P	320
*/

/*-----------------------------------------------------------------
1.0 - Tablet 		L	1024
-----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {

	#main,
	#mapdiv,
	#sidepanel,
	#guidebox {
		height: 637px; /*fallback, we get this through js*/
	}


	#foodtrips .blocks li {
		width:180px;
	}

}




