/*------------------------------------------------------------------
FOODMAP
[Media Queries Stylesheet]

Version:			1.1
Ultimo cambio:		14/7 	[]
Ultimo cambio por:	Mati
-------------------------------------------------------------------*/


/*-----------------------------------------------------------------
>>> INDICE:
-------------------------------------------------------------------
0.0 - Media query breakpoints
1.0 - Landscape
	1.1 - Tablet 		L	1024
	1.2 - Small tablet	L	800
	1.3 - iPhone 5 		L	568
	1.4 - Mobile 		L	480
2.0 - Portrait
	2.1 - Tablet		P	768
	2.2 - Small tablet	P	600
	2.3 - iPhone 5 		P	320
	2.4 - Mobile 		P	320

-----------------------------------------------------------------*/

/*-----------------------------------------------------------------
>>> INDICE:
-------------------------------------------------------------------
0.0 - Media query breakpoints
1.0 - Tablet 		L	1024
	1.1 - Tablet 	L	960
	1.2 - Tablet 	L	900 * a partir de aqui sidepanel 550px
2.0 - Small tablet	L	800
3.0 - Tablet		P	768	* a partir de aqui sidepanel 100%
4.0 - Small tablet	P	600
5.0 - iPhone 5 		L	568
6.0 - Mobile 		L	480
7.0 - iPhone 5 		P	320


2.0 - Portrait



	2.4 - Mobile 		P	320

-----------------------------------------------------------------*/

/*-----------------------------------------------------------------
0.0 - Media query breakpoints
-----------------------------------------------------------------*/
/*
	Tablet 			L	1024
	Small tablet	L	800
	Tablet 			P	768	* a partir de aqui sidepanel 100%
	Small tablet 	P	600
	iPhone 			L	568
	Mobile 			L	480
	iPhone 			P	320
*/

/*-----------------------------------------------------------------
	1.0 - Tablet 		L	1024
-----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {

	#main,
	#mapdiv,
	#sidepanel,
	#guidebox {
		height: 637px; /*fallback, we get this through js*/
	}

}


/*-----------------------------------------------------------------
	1.1 - Tablet 		L	960
-----------------------------------------------------------------*/

@media screen and (max-width: 960px) {

	.global-container {
		width:96%;
	}
	#foodtrips .global-container {
		width:98%; /*cause of blocks' padding, it has to be smaller than normal*/
	}
		#foodtrips-header {
			height:auto;
			margin-bottom: 1em;
		}

	#guidebox #info {
		padding: 0 20%;
	}


}


/*-----------------------------------------------------------------
	1.2 - Tablet 		L	900 	NO MORE MAP
-----------------------------------------------------------------*/

@media screen and (max-width: 900px) {

	#sidepanel {
		/* width:100%; */ /* o darle valor?

			a menos de 900 es 500
		*/
	}
	#sidepanel .blocks li {
		width:50%;
	}

}


/*-----------------------------------------------------------------
	2.0 - Small tablet (landscape)	800
-----------------------------------------------------------------*/

@media screen and (max-width: 800px) {

	#main,
	#mapdiv,
	#sidepanel,
	#guidebox {
		height: 470px; /*fallback, we get this through js*/
	}


	.global-container,
	#footer-content {
		width: 94%;
	}
	#foodtrips .global-container {
		width:97%; /*cause of blocks' padding, it has to be smaller than normal*/
	}

	#guidebox #info {
		padding: 0 15%;
	}

	#menu-top {
		display: none;
	}
	#menu-toggle,
	#menu-top.toggled {
		display: block;
	}
	#menu-toggle {
		float:right;
		height: 20px;
		margin: 4px 20px 0 0;
	}
	#menu-top.toggled  {
		background: #eb4b3f;
		position: absolute;
		top:70px;
		right:0;
		width:120px;
		z-index: 35;
	}

	#menu-top.toggled ul {
		width: 120px;
	}
	#menu-top.toggled  li {
		border-bottom: 1px solid #fff;
		display: block;
		float: none;
		width:120px;
	}
	#menu-top.toggled  li a {
		color:#fff;
		line-height: 40px;
		width:120px;
	}

	#foodtrips .blocks li {
		width:25%;
	}

}


/*-----------------------------------------------------------------
	3.0 - Tablet (portrait)			768
-----------------------------------------------------------------*/

@media screen and (max-width: 768px) {

/*	#main,
	#mapdiv,
	#sidepanel,
	#guidebox {
		height: 964px;  /*should be only if portrait*//*
	}*/

	#sidepanel .blocks li {
		width:33.333%;
	}


}





/*-----------------------------------------------------------------
	4.0 - Small tablet (portrait)		600
-----------------------------------------------------------------*/

@media screen and (max-width: 600px) {

	.global-container,
	#footer-content {
		width: 92%;
	}
	#foodtrips .global-container {
		width:96%; /*cause of blocks' padding, it has to be smaller than normal*/
	}


/*
		#main,
		#mapdiv,
		#sidepanel,
		#guidebox {
			height: 740px;  /*should be only if portrait*//*
		}*/

	#guidebox #info {
		padding: 0 15%; /* pasa a 10% si hago mas peq letra */
	}

	#foodtrips .blocks li {
		width:33.333%;
	}

	#sidepanel .blocks li {
		width:50%;
	}

}



/*-----------------------------------------------------------------
	5.0 - iPhone 5 (landscape)	568
-----------------------------------------------------------------*/

@media screen and (max-width: 568px) {

		#main,
		#mapdiv,
		#sidepanel,
		#guidebox {
			height: 280px;
		}


	#page-header {
		height:39px;
		line-height: 39px;
	}

	#menu-top.toggled  {
		top:40px;
	}

	#sidepanel {
		top:40px; /* 70 +1 border */
	}

	#guidebox #info {
		padding: 0 5%;
	}

	#guidebox #info h2 {
		font-size: 2em;
		margin: .25em 0 .5em 0;
	}
	#guidebox #info p {
		margin:.5em 0;
	}
	.icon-intro {
		height:40px;
		width:40px;
	}
	#showinfo {
		width:200px;
	}
	#showinfo .modal-content {
		font-size: .8em;
	}

	#foodtrips-header {
		padding: .5em 0 0.75em;
	}
	#foodtrips .blocks li {
		width:33.333%; /* valorar si 50% */
	}

}


/*-----------------------------------------------------------------
	6.0 - Mobile (landscape)	480
-----------------------------------------------------------------*/

@media screen and (max-width: 480px) {

	#foodtrips .blocks li {
		width:50%; /* valorar si 50% */
	}

}


/*-----------------------------------------------------------------
	7.0 - iPhone 5 (portrait)			320
-----------------------------------------------------------------*/

@media screen and (max-width: 320px) {

		#main,
		#mapdiv,
		#sidepanel,
		#guidebox {
			height: 488px;  /*should be only if portrait*/
		}

		/* menu sidepanel va arriba aqui*/

	#sidepanel-filter-order select {
		width: 100px;
	}

	#sidepanel h2 {
		margin-top: .15em;
	}

	.user-actions ul {
		margin-top:1em;
		text-align: center;
	}
		.user-actions ul li {
			float:none;
			text-align: right;
		}

}