/*
	Ultimo cambio: 14/7 21:18 AM
	Por: Mati
*/

/*--------------------------------------------------------------
	Tipografia
--------------------------------------------------------------*/

#sidepanel h2 {
	border-bottom:1px solid #4d5054;
}

#sidepanel-navigation,
#sidepanel-filter-order,
#sidepanel-filter-order select {
	font-family:'Lato',sans-serif;
	font-weight:700;
	text-transform:uppercase;
}

#sidepanel-filter-order,
#sidepanel-filter-order select {
	color: #9D978F;
}

#sidepanel-filter-order {
	font-size: 10px;
}
#sidepanel-filter-order select {
   background: #fff;
   border: 1px solid #9D978F;
   font-size: 12px;
   height: 34px;
   overflow: hidden;
   width: 150px;
}

#sidepanel .blocks li h4 {
	background: #2d3035;
	color: #fff;
}


/*--------------------------------------------------------------
	Links Sidepanel
--------------------------------------------------------------*/

#sidepanel .blocks li a:hover,
#sidepanel .blocks li a:focus,
#sidepanel .blocks li a:active {
	color: #fff;
}
#sidepanel .blocks li a:hover h4,
#sidepanel .blocks li a:focus h4,
#sidepanel .blocks li a:active h4 {
	background: #eb4b3f;
}


#sidepanel a {
	/* color: #fff; */
}
#sidepanel a:visited {
	/* color: #fff; */
}
#sidepanel a:hover,
#sidepanel a:focus,
#sidepanel a:active {
	/* color: #f99d1c; */
}


/*--------------------------------------------------------------
	8.2 Sidepanel
--------------------------------------------------------------*/

#sidepanel {
	background:#fdfbee url('images/bg-sidepanel.svg') top left repeat-y;
	color:#222;
	display:block;
	height:596px; /*por alguna razon tiene que ser 4 px menos que el div del mapa*/
	overflow:auto;
	padding:0;
	padding-top:0;
	position:absolute;
	right:0;
	top:71px; /* 70 +1 border */
	width:700px;
}

	#sidepanel-navigation {

		float:left;
		position: absolute;
		width:52px;
	}
	#sidepanel-main {
		margin-left:56px;
	}
		#sidepanel-content,
		#sidepanel-filter-order,
		.sidepanel-txt {
			padding: 0px 10px;
		}
			#sidepanel-header {
				padding: 0 10px;
			}

				#sidepanel .blocks li {
					width:25%; /* 4 cuadros en 700, 188 si queremos 3*/
				}
					#sidepanel .blocks .block-thumbnail {
						width: 100%;
					}



	.foodresult {
		background:#444;
		height:auto;
	}
	.ingredient {

	}
	.dish {

	}
		.foodresult-image {

		}
		.foodresult-name {

		}

	.action-tooltip {
		background: #fff;
		border: 1px solid #9D978F;
		display: none;
		padding: 10px 0;
		position: absolute;
		text-align: center;
		top:30px;

		font-family:'Lato',sans-serif;
		font-size: 10px;
		font-weight:700;
		text-transform:uppercase;
	}
		.action-tooltip .tooltip-msg {
			display: block;
			padding: 0 10px;
		}

	.action-tooltip.showaction {
		display: block;
		position: absolute;
	}
	.action-tooltip[data-user-action="share"],
	.action-tooltip[data-user-action="dl-pdf"] {
		width: 100px;
		left: -40px;
	}
	li:first-child .action-tooltip[data-user-action="dl-pdf"] {
		left: -70px;
	}
	.action-tooltip[data-user-action="like"] {
		width:90px;
		left:-35px;
	}
	.action-tooltip[data-user-action="add-foodtrip"] {
		width:160px;
		left:-130px;
		padding-bottom: 0;
		text-align: left;
	}
		.action-tooltip[data-user-action="add-foodtrip"] ul {
			border-top: 1px solid #9D978F;
			list-style: none;
			margin: 5px 0 0 0;
			padding: 0;


		}
			.action-tooltip[data-user-action="add-foodtrip"] ul li {
				border-bottom: 1px solid #9D978F;
				float:none;
				text-align: left;
				width:100%
			}
			.action-tooltip[data-user-action="add-foodtrip"] ul li:last-child{
				border:0;
			}
				.action-tooltip[data-user-action="add-foodtrip"] ul li a {

					display: block;
					padding: 5px 10px 8px;
					width:140px;
				}
				.action-tooltip[data-user-action="add-foodtrip"] ul li a:hover,
				.action-tooltip[data-user-action="add-foodtrip"] ul li a:focus,
				.action-tooltip[data-user-action="add-foodtrip"] ul li a:active {
					background: #eb4b3f;
					color: #fff;
				}


